
h1 {
	padding: 20px 20px;
	margin: 0;
	font-size: 28px;
	color: white;
	background: teal;
	display: inline-block;
	float: left;
}

h2 {
	color: teal;
	font-size: 28px;
	margin: 10px;
}
hr {
	margin: 0px 10px;
}
header {
	background-color: white;
	overflow: auto;
	margin: -8px;
	box-shadow: 2px 2px darkgray;
}
body {
	background-color: lightgrey;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer {
	background-color: #606060;
	position: fixed;
	bottom: 0; 
	left: 0;
	right: 0;
	color: lightgrey;
	font-size: .65em;
}

p {
	margin: 10px;
}

#page-links {
	float: right;
}
#page-links a {
	padding: 20px;
	margin: 0;
	font-size: 16px;
	color: gray;
	display: inline-block;
}
#bio-image{
	float: left;
	margin: 10px;
}

#line {
	padding: 6px;
	background-color: teal;
	margin-bottom: 5px;
}

.container {
	width: 960px;
	margin: 0 auto;
}
.content {
	overflow: auto;
	background-color: white;
	margin: 40px 0px;
	box-shadow: 2px 2px darkgray;
}
.center {
	text-align: center;
}