<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Lunches</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

		<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	</head>
	<body class="blue-grey darken-4 white-text">
		<div class="brown darken-3 center-align"><h1>Hi, welcome to my site</h1></div>
		<div class="container row">
			{{{ body }}}
			
		</div>
	</body>
</html>